################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Files
/GZip/.vs
/GZip/GZipTest/obj
/GZip/GZipTest/bin/Debug
